.box
  h1 FriendSwipe lives here!
  h3 Platonic Tinder for your Facebook friends
  p Many of us have hundreds of hundreds of friends on facebook, 
    | the majority of whom we haven't had any interaction with in years. 
    | Whether its your BFF from summer camp in sixth grade, that cutie form high school, a college buddy, or an old coworker, friendSwipe wants to reconnect you with the people in your life you lost touch with. Through a fun, Tinder-like interface you can swipe through your friends one by one. If you are interested in reconnecting with them, swipe them to the right. If not, swipe left. If two users are interested in reconnecting, they will be notified and can pick up where they left off.

  p You can view the source code 
    a(href='https://github.com/mfbadr/mb-friendswipe2-server') here.

  p You can view the source code for the front end 
    a(href='https://github.com/mfbadr/mb-friendswipe2') here.

  h6 Made by @mikeybadr


img(src='assets/sociogram.jpg')
